<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Nurullah/IdeaProjects/VisiongoUiTest/src/test/java/testCases"><classes><class name="testCases.Login"><methods><include name="login_Successful"/></methods></class></classes></test></suite>